.wholeList{
    display: flex;
    flex-flow: row wrap;
    margin-left:13%;
    margin-right:10%
}

.friendInfo{
    display: flex;
    height: 60vh;
    align-content: space-evenly;
    text-align: center
}
.friendPic{
    height: 50%
}
.friendsHeader{
    text-align: center;
    margin-top:2%;
    border: 4px inset white;
    background: #303030;
    width:40vw;
    margin-left:30%;
}