.loginForm{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    text-align: center;
    border: 2px solid #00bc8c;
    margin-top:4rem;
    padding-top:.5rem;
    padding-bottom: 1rem;
    width: 25%;
    margin-left: 35vw
}
.registerButton{
    width: 150px;
    margin-top: 2rem;
    align-self: center
}
.loginButton{
    display: flex;
    width: 75px;
    align-self: center;
    margin-left:3.5rem;
    margin-top:1rem
}

label{
    display: flex;
    text-align: center;
    margin-left: 3.5rem;
    padding-top:.5rem
}

